@{
    ViewData["Title"] = "GetUsers";
}

@model List<GetUserVM>
<div class="col-lg-12">
    <div class="row tab-content">
        <div id="list-view" class="tab-pane fade col-lg-12 active show">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tüm Kullanıcılar </h4>
                    <a asp-area="Admin" asp-controller="Admin" asp-action="CreateUser" class="btn btn-primary">+ Kullanıcı Ekle</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="example3_wrapper" class="dataTables_wrapper no-footer">

                            <table id="example3" class="display dataTable no-footer" style="min-width: 845px" role="grid" aria-describedby="example3_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 54.725px;">#</th>
                                        <th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" style="width: 180.438px;">Ad</th>
                                        <th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" style="width: 171.675px;">Soyad</th>
                                        <th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" style="width: 148.688px;">E-Posta</th>
                                        <th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" style="width: 196.962px;">Telefon</th>
                                        <th class="sorting" tabindex="0" aria-controls="example3" rowspan="1" colspan="1" style="width: 88.575px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var user in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><img class="rounded-circle" width="35" src="~/images/profile/small/pic1.jpg" alt=""></td>
                                            <td>@user.Name</td>
                                            <td>@user.Surname</td>
                                            <td><strong>@user.Email</strong></td>
                                            <td><strong>@user.PhoneNumber</strong></td>

                                            <td>
                                                <a asp-area="Admin" asp-controller="Admin" asp-action="UpdateUser" asp-route-userId="@user.Id" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                                <a asp-area="Admin" asp-controller="Admin" asp-action="DeleteUser" asp-route-userId="@user.Id" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
